<div class="sws-container container">

    <div *ngIf="state === 1">
        <drag-and-drop (done)="onDoneStep1($event)"></drag-and-drop>
    </div>

    <div *ngIf="state === 2">
        <admin-form [administrator]="rds.administrateur" (done)="onDoneStep2($event)"></admin-form>
    </div>

    <div *ngIf="state === 3">
        <rds-form [rds]="rds" (done)="onDoneStep3($event)"></rds-form>
    </div>

    <div *ngIf="state === 4">
        <signataire-form [signataires]="rds.signataires" (done)="onDoneStep4($event)"></signataire-form>
    </div>

    <div *ngIf="state === 5">
        <confirmation></confirmation>
    </div>

</div>


<!-- Modal Informations Privées - 1ère fenêtre après Valider -->
<section>
    <div class="modal fade" id="infosPrivees" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infosPriveesLongTitle">Veuillez remplir les informations suivantes :</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formInfosPrivees">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" name="nom" id="nom" placeholder="Nom" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" name="prenom" id="prenom" placeholder="Prénom" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="email" class="form-control-plaintext" name="mail" id="mail" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="custom-control-input" type="checkbox" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">
                                        Se souvenir de moi
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#meetingSuccess">Etape suivante &nbsp;
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Fenêtre modal apparaissant après validation avec succès des informations personnelles -->
<div class="modal fade bd-example-modal-lg" id="meetingSuccess" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="center">
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="float-right close-button"><i class="fas fa-times fa-2x"></i></span>
        </button> -->
                <div class="sws-success">
                    <div class="margin-top-20 orange">
                        <i class="fas fa-check-circle fa-7x"></i>
                    </div>
                    <div class="sws-success-inner">
                        <div>
                            <h1>Félicitations, votre réunion a été créée avec succès !</h1>
                        </div>
                        <div>
                            <h2>Ces liens ont été créés pour votre réunion :</h2>
                        </div>
                        <div class="id-reunion">F7ERT4</div>
                        <div class="orange2 bold">Titre Réunion</div>
                        <div class="float-left line-height-25">
                            <span class="bold grey2">http://loremipsum.com</span>
                            <br> Description du Lien
                        </div>
                        <br>
                        <br>
                        <div class="float-left line-height-25">
                            <span class="bold grey2">http://loremipsum.com</span>
                            <br> Description du Lien
                        </div>
                        <br>
                        <br>
                        <div class="float-left line-height-25">
                            <span class="bold grey2">http://loremipsum.com</span>
                            <br> Description du Lien
                        </div>
                        <br>
                        <br>
                        <div class="orange">Un email contenant ces liens a été envoyé à l'adresse que vous nous avez fourni :</div>
                        <div class="orange">johndoe@mail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>