<div class="center">
    <h1>Création d'une nouvelle RDS</h1>
    <h2>Déposer un fichier en drag&drop ou sélectionner un fichier à partir de votre ordinateur</h2>

     <div id="sws-dropzone">
         <file-drop headertext="Déposer votre fichier ici" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        </file-drop>
     </div>

     <button type="button"
        class="btn btn-primary center btn-lg"
        (click)="validate()"
        type="submit">Valider</button>
 </div>