.sws-navbar{
    background-color: #222222;
    margin-bottom: 5%;
    
}
.sws-navbar a {
    color: white;
}
.sws-company{
    position: absolute;
    top: 0;
    left : 0;
    padding-left: 5%;
}
.sws-company span:nth-child(odd) {
    color:#EA8216;
}