.sws-container {
    width: 45%;
    height: 80%;
    display: table;
    margin: 0 auto;
    background-color: white;
    box-shadow: 8px 8px 12px #aaa;
}

.drop-zone{
    border: 2px dotted #EAEAEA !important;
    border-radius: 30px !important;
}
