
<h2>Étape 2: Informations de la RDS</h2>
<div>
  <label>Nom de la RDS:
    <input [(ngModel)]="rds.nom" placeholder="Nom de la RDS...">
  </label>
   <label>Description:
    <textarea [(ngModel)]="rds.description" placeholder="Description..."></textarea>
  </label>
   <label>Date:
    <input type="date" [(ngModel)]="rds.date">
  </label>
  <label>Url complémentaire:
    <input [(ngModel)]="rds.urlComplementaire" placeholder="URL complémentaire...">
  </label>
</div>

<button (click)="save()">save</button>